
/__history
/Win32
*.~*

*.identcache
*.otares
*.local
*.dsk
*.skincfg
*.tvsconfig

*.exe
*.dcu
*.dcp
*.ddp
*.bpl
*.dll

*.ppu
*.or
*.o
*.compiled
*.obj
*.dbg
*.pas.bak
zexmlss/packages/lazarus/lib/i386-win32/zesavecommon.rst
zexmlss/packages/lazarus/lib/x86_64-win64/zesavecommon.rst
